@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*===================================
			    Geral
===================================*/

html {
    font-size: calc(15px + 0.390625vw);
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0 12vw 0 0;
}
main {
	margin: 0 0 0 8vw;
}

/*==================================
			    Topo
==================================*/

header {
    display: flex;
    justify-content: space-between;
    margin: 1.5vw 15vw 10vw 4vw;
}
header p a {
    margin: 0 0 0 5vw;
}
header p a strong {
    font-weight: 700;
}
header nav ul {
    display: flex;
}
header nav li {
    margin: 0 2.5vw 0 2.5vw;
}
header nav li.outraPagina a {
    color: #868686;
}

/*========================================
			Conteúdo - Books
========================================*/

/*first*/

section.firstSection h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
}
section.firstSection {
    display: flex;
}
section.firstSection span {
    color: #47c183;
}
section.firstSection p {
    margin: 2vw 0 4vw 0;
}
section.firstSection button {
    color: white;
    background-color: black;
    font-weight: 600;
    padding: 1.5vw 3.5vw 1.5vw 3.5vw;
    border: 0;
    margin: 0 3vw 0 0;
    font-size: 0.9rem;
}
section.firstSection div a {
    text-decoration: underline;
}

/*second*/

section h2{
    display: flex;
    justify-content: center;
    margin: 8vw 0 6vw 0;
    font-weight: bold;
    font-size: 1.2rem;
}
section.secondSection {
    margin: 0 0 0 8vw;
}
    section.secondSection div {
    display: flex;
    position: relative;
}
section.secondSection div.dois {
    margin: 4vw 0 4vw 0;
}
section.secondSection div.um p {
    margin: 0 20vw 0 15vw;
    position: absolute;
    top: 15%;
    line-height: 160%;
}
section.secondSection div.dois p {
    margin: 0 22vw 0 0;
    position: absolute;
    top: 30%;
    line-height: 160%;
}
section.secondSection div.tres p {
    margin: 0 18vw 0 15vw;
    position: absolute;
    top: 30%;
    line-height: 160%;
}
section.secondSection div.dois img {
    margin: 0 0 0 60vw;
}

/*third*/
section.thirdSection span {
    font-weight: bold;
}
section.thirdSection div.separar {
    display: flex;
}
div.space {
    margin: 2vw 0 0 0;
}